{% extends 'menu\index.html ' %}


{% block title %} distribuidores {% endblock  %}

{% block contenido_inicial %}

<h1> Registro de distribuidores </h1>

<form action = ""  method = "POST"> 

    {% csrf_token %}

    <p>Nombre: <input type = "text" name="name">
    <p>Correo: <input type = "text" name="email">
    <p>compañia: <input type = "text" name="company">
    <p>numero distribuidor: <input type = "numbre" name="distributor_numbre">


    <input type = "submit" value="Enviar">


</form>





{% endblock  %}


