{% extends 'menu\index.html'%}


    {% block title %} Usuarios {% endblock  %}

    {% block contenido_inicial %}

        <h1> Registro de Usuarios </h1>

        <form action = ""  method = "POST"> 

            {% csrf_token %}

            <p>Nombre: <input type = "text" name="name"></p>
            <p>Correo: <input type = "text" name="email"></p>
            <p>edad: <input type = "number" name="age"></p>
            <input type = "submit" value="Enviar">


        </form>
        




    {% endblock  %}
